In [80]:
import pandas as pd

In [100]:
min_df = pd.read_csv("today_min_prices.csv", index_col=0)
max_df = pd.read_csv("today_max_prices.csv", index_col=0)
avg_df = pd.read_csv("today_avg_prices.csv", index_col=0)
lang_df = pd.read_csv("vegetableLanguage.csv", index_col=0)

In [91]:
min_df_transposed = min_df.T
max_df_transposed = max_df.T
avg_df_transposed = avg_df.T

In [92]:
combined_df = pd.concat([min_df_transposed, max_df_transposed, avg_df_transposed], axis=1)
combined_df.columns = ['Min Price', 'Max Price', 'Avg Price']

In [101]:
lang_df

    Unnamed: 0                    English                        Nepali
0            0    Tomato Big(Indian) (KG)   गोलभेडा ठूलो(भारतीय) (केजी)
1            1   Tomato Small(Local) (KG)   गोलभेडा सानो(लोकल) (के.जी.)
2            2  Tomato Small(Tunnel) (KG)    गोलभेडा सानो(टनेल) (के जी)
3            3  Tomato Small(Indian) (KG)  गोलभेडा सानो(भारतीय) (के जी)
4            4            Potato Red (KG)             आलु रातो (के.जी.)
..         ...                        ...                           ...
93          93      Fish Fresh(Rahu) (KG)        ताजा माछा(रहु) (के जी)
94          94   Fish Fresh(Bachuwa) (KG)      ताजा माछा(बचुवा) (के जी)
95          95    Fish Fresh(Chhadi) (KG)        ताजा माछा(छडी) (के जी)
96          96   Fish Fresh(Mungari) (KG)     ताजा माछा(मुंगरी) (के जी)
97          97           Tree Tomato (Kg)              रुख टमाटर (केजी)

[98 rows x 3 columns]

In [95]:
min_df

,Tomato Big(Indian) (KG),Tomato Small(Local) (KG),Tomato Small(Tunnel) (KG),Tomato Small(Indian) (KG),Potato Red (KG),Potato Red(Indian) (KG),Potato Red(Mude) (KG),Potato White (KG),Onion Dry (Indian) (KG),Carrot(Local) (KG),...,Garlic Green (KG),Coriander Green (KG),Garlic Dry Chinese (KG),Garlic Dry Nepali (KG),Clive Dry (KG),Fish Fresh(Rahu) (KG),Fish Fresh(Bachuwa) (KG),Fish Fresh(Chhadi) (KG),Fish Fresh(Mungari) (KG),Tree Tomato (Kg)
2023-10-15,35,30,32,30,60,34,42,42,74,110,...,280,120,220,260,180,370,270,240,250,120

In [96]:
min_df_transposed

                           2023-10-15
Tomato Big(Indian) (KG)            35
Tomato Small(Local) (KG)           30
Tomato Small(Tunnel) (KG)          32
Tomato Small(Indian) (KG)          30
Potato Red (KG)                    60
...                               ...
Fish Fresh(Rahu) (KG)             370
Fish Fresh(Bachuwa) (KG)          270
Fish Fresh(Chhadi) (KG)           240
Fish Fresh(Mungari) (KG)          250
Tree Tomato (Kg)                  120

[98 rows x 1 columns]